@font-face {
  font-family: IdealistSans;
  src: url('~assets/fonts/idealist-sans.regular.otf');
}
@font-face {
  font-family: IdealistSansLight;
  src: url('~assets/fonts/idealist-sans.light.ttf');
}
@font-face {
  font-family: UniSansHeavy;
  src: url('~assets/fonts/UniSansHeavy.otf');
}
