@font-face {
  font-family: IdealistSans;
  src: url('~assets/fonts/IdealistSans.otf');
}
@font-face {
  font-family: IdealistSansLight;
  src: url('~assets/fonts/IdealistSansLight.otf');
}
@font-face {
  font-family: UniSansHeavy;
  src: url('~assets/fonts/UniSansHeavy.otf');
}
