@font-face {
  font-family: IdealistSans;
  src: url('~assets/fonts/Idealist Sans.otf');
}
@font-face {
  font-family: IdealistSansLight;
  src: url('~assets/fonts/IdealistSansLight.otf');
}
@font-face {
  font-family: UniSansHeavy;
  src: url('~assets/fonts/Uni Sans Heavy.otf');
}

body {
  background: #efeae4;
  @media(min-width: 600px) {
    background: #efeae4 url('~assets/img/bg-linhas-sm@1X.jpg') no-repeat;
  }
  @media (min-width: 900px) {
    background: #efeae4 url('~assets/img/bg-linhas-md@1X.jpg') no-repeat;
  }
  @media (min-width: 1200px) {
    background: #efeae4 url('~assets/img/bg-linhas-lg@1X.jpg') no-repeat;
  }

  font-family: 'IdealistSansLight', Arial, Helvetica, sans-serif;
  color: #606060;
}

.only-desktop {
  visibility: hidden !important;
  position: absolute;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1090px;
  }

  .only-mobile {
    visibility: hidden !important;
    position: absolute;
  }

  .only-desktop {
    visibility: visible !important;
    position: initial;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'UniSansHeavy', Arial, Helvetica, sans-serif;
  text-transform: uppercase;

  &.white {
    color: $white;
  }

  &.yellow {
    color: $yellow;
  }

  &.gray {
    color: $gray;
  }

  &.pink {
    color: $pink;
  }
}
